# Required
region = "us-east-2"
username = "ec2-user"
vpc_security_group_ids = ["sg-19915770"]

rama_source_path    = "~/rama.zip"
# zookeeper_url   = "https://dlcdn.apache.org/zookeeper/zookeeper-3.8.4/apache-zookeeper-3.8.4-bin.tar.gz"
zookeeper_url   = "https://www.apache.org/dyn/closer.lua/zookeeper/zookeeper-3.9.3/apache-zookeeper-3.9.3-bin.tar.gz"

ami_id              = "ami-07d9881e6986c46f8"    # ARM64 AMI ubuntu 24.10
instance_type       = "m6g.large" # The m6g.xlarge instance is in the General purpose family with 4 vCPUs, 16 GiB of memory and up to 10 Gibps of bandwidth starting at $0.154 per hour.

# Optional
license_source_path = ""
volume_size_gb      = 50            # at least OS requirements + 20 GB
use_private_ip      = false
private_ssh_key     = "~/rama.key"
